In [37]:

import pandas as pd
import numpy as np

In [38]:
df  = pd.read_csv('/content/task.csv')
df

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [39]:
df_1=df['Hours']
df_2=df['Scores']

In [40]:
df_1

0     2.5
1     5.1
2     3.2
3     8.5
4     3.5
5     1.5
6     9.2
7     5.5
8     8.3
9     2.7
10    7.7
11    5.9
12    4.5
13    3.3
14    1.1
15    8.9
16    2.5
17    1.9
18    6.1
19    7.4
20    2.7
21    4.8
22    3.8
23    6.9
24    7.8
Name: Hours, dtype: float64

In [41]:
df_2

0     21
1     47
2     27
3     75
4     30
5     20
6     88
7     60
8     81
9     25
10    85
11    62
12    41
13    42
14    17
15    95
16    30
17    24
18    67
19    69
20    30
21    54
22    35
23    76
24    86
Name: Scores, dtype: int64

In [42]:
x_mean=np.mean(df_1)
y_mean=np.mean(df_2)

In [43]:
x_mean

5.012

In [44]:
y_mean

51.48

In [45]:
class LinearReg:
  b0=0
  b1=0
  
  def LR_fit(self,df1,df2):
    upward_fn=0
    x_downward=0
    for i in range(len(df_1)):
      upward_fn += (df_1[i]-X_mean)*(df_2[i]-Y_mean)
      x_downward +=(df_1[i]-X_mean)**2
    self.b1=upward_fn/x_downward
    self.b0=Y_mean-(self.b1*X_mean)
    return self.b0,self.b1
  def LR_predict(self,Xi):
    y_pred=self.b0+(self.b1*Xi)
    return y_pred
model=LinearReg()
print(model. LR_fit(df_1,df_2))
print(model. LR_predict(25))

(Hours    -49.173276
Scores    49.037163
dtype: float64, Hours     11.499888
Scores     0.217950
dtype: float64)
Hours     238.323925
Scores     54.485921
dtype: float64